[ req ]
default_bits = 2048
default_keyfile = demo.fido2.tls.edu.key
distinguished_name = req_distinguished_name
req_extensions = req_ext
x509_extensions = v3_ca
prompt = no
[ req_distinguished_name ]
CN = demo.fido2.tls.edu
[ req_ext ]
subjectAltName = @alt_names
[ v3_ca ]
basicConstraints = CA:FALSE
extendedKeyUsage = serverAuth
keyUsage = digitalSignature, keyEncipherment
subjectAltName = @alt_names
[ alt_names ]
DNS.1 = demo.fido2.tls.edu
DNS.2 = localhost
IP.1 = 127.0.0.1
